%cover {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// @mixin placeholder {
//   &.placeholder {
//     @content;
//   }
//   &::-webkit-input-placeholder {
//     @content;
//   }
//   &::-moz-placeholder {
//     @content;
//   }
//   &:-moz-placeholder {
//     @content;
//   }
//   &::-ms-input-placeholder {
//     @content;
//   }
// }

@mixin ratio($width, $height) {
  font-size: 0;
  overflow: hidden;
  position: relative;

  &.after {
    content: "";
    display: inline-block;
    padding-top: $width / $height * 100%;
    width: 100%;
  }
}
